<h1>Users</h1>

<h3> This page is intended for admins only, please do not show this to students! </h3>

    <ul id="student-list">
      <% i = 1 %>
      <% @users.each do |user| %>
      <li class="student">
        <input id="student-<%= i %>" type="checkbox">
        <label for="student-<%= i %>"><%=user.name%></label>
        <% i += 1 %>
      <% end %>
    </ul>
    <div class="footer">
      Todo: <span id="student-count">1</span>
      Done: <span id="admin-count">0</span>
      Total: <span id="total-count">1</span>
    </div>
  </div>

  
